@import '../../styles/index.scss';

.header-default {
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 120px 100px 120px;
  position: relative;

  @media(max-width: $tablet) {
    padding-top: 250px;
  }

  @media(max-width: $mobile) {
    padding: 250px 50px 100px 50px;
  }
}