@import '../../styles/index.scss';

.footer {
  align-items: center;
  background-image: url('../../assets/footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  padding: 16px 50px;
  width: 100%;

  @media(max-width: $mobile) {
    flex-direction: column;
    gap: 20px;
  }

  div {
    display: flex;
    gap: 50px;
  }

  span {
    color: white;
    font-size: 16px;
    text-align: right;

    @media(max-width: $mobile) {
      text-align: center;
    }
  }
}